$links-color: #83888F;
$accent-color: #FEFCF7;
$accent-opacity-color: #fefcf6cc;
$main-color: #333D4B;
$procces-line-color: #FDD6BA;
$buttons-bg-color: #0E8784;
$benefits-bg-color: #2C343E;
$barlow: "Barlow", "Arial", sans-serif;
$fraunces: "Fraunces", "Arial", sans-serif;  