.our-collection {
  padding: 136px 0 200px 0;
}

.collection__container {
  @include flex-display;
  padding: 0 85px;
}

.our-collection__title {
  @include font($fraunces, 150px, 900, 1.5);
  @include basic-area;
  margin-bottom: -110px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: $links-color;
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.our-collection__box {
  margin-right: 30px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
}

.our-collection__box-title {
  @include basic-area;
  @include font($fraunces, 24px, 900, 32px);
  margin-top: 71px;
  color: $main-color;
}

.our-collection__box-description {
  @include basic-area;
  @include font($barlow, 16px, 400, 26px);
  margin-top: 24px;
}